header{
	text-align: center;
	vertical-align:middle;
	padding:auto;
	padding-top:15px;
	padding-bottom:15px;
	margin:0;
	color: green;
	border-bottom: 1px black solid;
}

section{
	float: left;
	width:75%;
	padding:auto;
}
aside {
	float: right;
	width: 20%;
	padding:auto;
	border-left: 1px black solid;
}

footer {
	clear: both;
	padding:auto;
	padding-top:30px;
	padding-bottom:30px;
	text-align: center;
	vertical-align:middle;
	border-top: 1px black solid;
}
