<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.xqvier.muscu" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name="com.xqvier.muscu.Musculation"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.xqvier.muscu.alarm.AlarmConfiguration"
			android:label="@string/alarm_name" />
		<activity android:name="com.xqvier.muscu.alarm.CountDown"
			android:label="@string/timer_name" />
		<activity android:name="com.xqvier.muscu.weight.WeightManager"
			android:label="@string/weight_name" />
	</application>
</manifest>